[submodule "hw1/News-Headlines-Dataset-For-Sarcasm-Detection"]
	path = hw1/News-Headlines-Dataset-For-Sarcasm-Detection
	url = https://github.com/rishabhmisra/News-Headlines-Dataset-For-Sarcasm-Detection
